<div id="form-ui" class="login-container">
  <div class="background"></div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="form">
    <div id="form-body">
      <div id="welcome-lines">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/HiperDino_Logo.png" alt="https://upload.wikimedia.org/wikipedia/commons/0/0b/HiperDino_Logo.png">
        <div id="welcome-line-2">Welcome Back</div>
      </div>
      <div id="input-area">
        <div class="form-group form-inp">
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="Introduce tu correo"
          />
        </div>
        <div class="form-group form-inp">
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Introduce tu contraseña"
          />
        </div>
      </div>
      <div id="submit-button-cvr">
        <button id="submit-button" type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
          Iniciar Sesión
        </button>
      </div>
      <div id="forgot-pass">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>

      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
        El correo es obligatorio y debe ser válido.
      </div>
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
        La contraseña es obligatoria.
      </div>
      <div *ngIf="loginError" class="error">
        Usuario o contraseña incorrectos.
      </div>
    </div>
  </form>
</div>
