<div>
  <h1>Pedidos</h1>
  <table border="1">
    <thead>
    <tr>
      <th (click)="sort('id')">ID</th>
      <th (click)="sort('warehouseName')">Nombre Almacén</th>
      <th (click)="sort('storeName')">Nombre Tienda</th>
      <th (click)="sort('productName')">Nombre Producto</th>
      <th (click)="sort('quantity')">Cantidad</th>
      <th (click)="sort('delivered')">Entregado</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of filteredOrders">
      <td>{{ order.id}}</td>
      <td>{{ order.warehouseName }}</td>
      <td>{{ order.storeName }}</td>
      <td>{{ order.productName }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.delivered }}</td>
    </tr>
    </tbody>
  </table>
</div>
