<div>
  <h1>Pedidos</h1>
  <table border="1">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre Almacén</th>
      <th>Nombre Tienda</th>
      <th>Nombre Producto</th>
      <th>Cantidad</th>
      <th>Entregado</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of filteredOrders">
      <td>{{ order.id}}</td>
      <td>{{ order.warehouseName }}</td>
      <td>{{ order.storeName }}</td>
      <td>{{ order.productName }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.delivered }}</td>
    </tr>
    </tbody>
  </table>
</div>
